@model IEnumerable<SSProject.Models.Post>
@using Microsoft.AspNet.Identity;

<h2>Posts</h2>

<br />

<table class="table">
    <tr>
        <th>
            Picture
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poster)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    { 
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="/profile/details/@item.AspNetUser.Id"><img class="rotate userImageSmall" src="@item.AspNetUser.ProfilePicture" /></a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AspNetUser1.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { Controller = "Post" , Id = item.Id }, null)
                </td>
            </tr>
        }
    }

</table>

