@model SSProject.Models.AspNetUser
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row topRow">
        <div class="col-xs-8 col-xs-offset-2">
            <img class="userImage" src="@Model.ProfilePicture" />
        </div>
    </div>
    <div class="row middleRow">
        <div class="col-xs-12">
            @if (User.Identity.GetUserId() != Model.Id)
            {
                @Html.ActionLink("Add Friend", "Create", new { Controller = "Friends", friendId = Model.Id }, null)
            }
        </div>
    </div>
</div>

<h2>Details</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.UserName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerOS)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProgrammingL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProgrammingL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

    </dl>
</div>
<p>
   @if (User.Identity.Name == Model.UserName)
   { 
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
   }
    
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="postPartial">
    
   
    @using (Html.BeginForm("Create", "Post"))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("receiver", Model.Id)
        @Html.Hidden("poster", User.Identity.GetUserId())
        @Html.TextArea("content");
        <br>
        <input type="submit" value="Post">
    }


    @Html.ActionLink("Create", "Create", new { Controller = "Post", receiver = Model.Id})


    
   
   @Html.Action("getPost", new { receiver = Model.Id });

</div>
  

<div class="friendsPartial">
    @if (User.Identity.Name == Model.UserName)
    { 
        @Html.Action("getFriendsList");
    }
    else
    {
        
    }

</div>