@model SSProject.Models.AspNetUser
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = @Model.UserName;
}

<div class="container">
    <div class="row topRow">
        <div class="col-md-12 userImageContainer">
            <img class="userImage" src="@Model.ProfilePicture" />
        </div>
    </div>
    <div class="row middleRow">
        <div class="col-xs-12">
            @if (User.Identity.GetUserId() != Model.Id)
            {
                @Html.ActionLink("Add Friend", "Create", new { Controller = "Friends", friendId = Model.Id }, null)
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 profileDetails">
            <h2>About @Model.UserName</h2>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Computer)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Computer)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ComputerOS)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ComputerOS)

                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ProgrammingL)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProgrammingL)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneM)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneM)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneOS)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneOS)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.JobTitle)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.JobTitle)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.UserName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.UserName)
                    </dd>

                </dl>
            </div>
            <p>
                @if (User.Identity.Name == Model.UserName)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
                }
            </p>
        </div>
        <div class="col-md-6 friendDetails">
            <div class="friendsPartial">

                    @Html.Action("getFriendsList", new { id = Model.Id });

            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="postPartial userPosts">

        @using (Html.BeginForm("Create", "Post", new { @class = "postForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("receiver", Model.Id)
            @Html.Hidden("poster", User.Identity.GetUserId())
            @Html.TextArea("content", new { @class = "postTextArea" });
            <br />
            <input type="submit" value="Post" class="postInput btn btn-success">
        }

        @Html.Action("getPost", new { receiver = Model.Id });

    </div>
</div>
  

